* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 50%;
}

.instagram-phone img{
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 37rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    margin-top: 0.5rem;
    height: 3.5rem;
}

.profile-photo{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img{
    height: 7rem;
}

.instagram-login{
    margin-top: 2rem;
    background-color: #0095f6;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    font-weight: 600;
}

.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
}

.not-account{
    color: black;
}

.options-login{
    padding: 2px;
}

.link-blue{
    color: #0095f6;
    font-weight: 600;
    padding: 0 0.1rem;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.download a img{
    height: 3rem;
    width: 10rem;
}

/* Media Queries*/
@media screen and (min-width: 1024px){
    .instagram-wrapper{
        width: clamp(50vh, 90%, 100vh);
    }
}

@media (max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 768px){
    body{
        background-color:  rgb(243, 243, 243);
    }
    .group{
        border: 1px solid transparent;
    }
    .instagram-wrapper{
        width: 90%;
    }
    .instagram-phone{
        display: none;
    }
    .instagram-continue{
        width: 100%;
    }
}